<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new song</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>
<body>


    <div class="mx-5">
        <h3>Add new song</h3>

        <p>
            <a th:href="@{/song}" class="text-dark text-decoration-none">Back to song list!</a>
        </p>

        <div>
            <form th:action="@{/song/save}" method="post" th:object="${songDto}">

                <input type="hidden" th:field="*{id}">

                <div class="mb-3">
                    <label for="name" class="form-label">Name: </label>
                    <input type="text" class="form-control" id="name" th:field="*{name}">
                    <p th:erros="*{name}" th:if="${#fields.hasErrors('name')}" class="text-danger">Name Error</p>
                </div>

                <div class="mb-3">
                    <label for="artist" class="form-label">Artist: </label>
                    <input type="text" class="form-control" id="artist" th:field="*{artist}">
                    <p th:erros="*{artist}" th:if="${#fields.hasErrors('artist')}" class="text-danger">Name Error</p>
                </div>

                <div class="mb-3">
                    <label for="typeOfSong" class="form-label">Type Of Song: </label>
                    <input type="text" class="form-control" id="typeOfSong" th:field="*{typeOfSong}">
                    <p th:erros="*{typeOfSong}" th:if="${#fields.hasErrors('typeOfSong')}" class="text-danger">Name Error</p>
                </div>

                <input type="submit" value="Save">

            </form>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>